In [12]:
import pandas as pd
import os

In [2]:
kogs_df_searchable = "/data/luojaa/uid_stats/kogs_df_searchable.tsv"
kogs_df = pd.read_csv(kogs_df_searchable, sep = "\t")

In [3]:
KOGS_w_both = "/data/luojaa/uid_stats/KOGs_w_both.csv"
relevant_kogs = pd.read_csv(KOGS_w_both)["KOG"]

In [4]:
accessions_df = kogs_df.loc[:,["KOGID", "UID", "ISEUK", "SPECIES"]]
accessions_df = accessions_df[accessions_df["SPECIES"] != "none"] # some UIDs aren't in our sequence database

In [10]:
accessions_df

           KOGID         UID  ISEUK                                 SPECIES
0         K00001  A0A022Q707   True                     Erythranthe guttata
1         K00001  A0A022R7F5   True                     Erythranthe guttata
2         K00001  A0A059A4S5   True                      Eucalyptus grandis
3         K00001  A0A059A5P0   True                      Eucalyptus grandis
4         K00001  A0A059ZDV9  False                 Acinetobacter baumannii
...          ...         ...    ...                                     ...
27894922  K27109      V9XE53  False       Rhodococcus pyridinivorans SB3094
27894923  K27109      W5TCW5  False                     Nocardia nova SH22a
27894924  K27109      W5WAU1  False              Kutzneria albida DSM 43870
27894926  K27109      W5Y1W1  False  Corynebacterium vitaeruminis DSM 20294
27894927  K27109      X5EAI7  False   Corynebacterium glyciniphilum AJ 3170

[12839548 rows x 4 columns]

In [5]:
accessions_df = accessions_df[accessions_df["KOGID"].isin(relevant_kogs)]

In [6]:
accessions_outdf = accessions_df.groupby(["KOGID", "ISEUK"])["UID"].apply(lambda x: "\n".join(x)).reset_index()

In [13]:
accessions_outdf

       KOGID  ISEUK                                                UID
0     K00001  False  A0A059ZDV9\nA0A060I4I2\nA0A060I6P0\nA0A068SU50...
1     K00001   True  A0A022Q707\nA0A022R7F5\nA0A059A4S5\nA0A059A5P0...
2     K00002  False  A0A068MX60\nA0A068NTC6\nA0A075KEF9\nA0A0A7K9T5...
3     K00002   True  A0A010QE05\nA0A010QTJ0\nA0A010R751\nA0A010R7Y8...
4     K00003  False  A0A011UP94\nA0A023WVC4\nA0A023X1I2\nA0A024EAS9...
...      ...    ...                                                ...
4663  K26400   True  A0A010RUW7\nA0A010SGB5\nA0A024S4P0\nA0A0D1BWS5...
4664  K26731  False  A0A023X5G2\nA0A060DI73\nA0A068MZI2\nA0A068NNE6...
4665  K26731   True  A0A010RDL6\nA0A022PX43\nA0A022Q5Z1\nA0A022QJA3...
4666  K26735  False  A0A023X3B3\nA0A024EDC0\nA0A024HAJ5\nA0A024HHQ9...
4667  K26735   True  A0A022PZP8\nA0A022QCP7\nA0A022QRV0\nA0A024RE09...

[4668 rows x 3 columns]

In [7]:
outpathroot = "/data/luojaa/eukgen/processing/microcosm_expand/"

In [16]:
accessions_outdf

       KOGID  ISEUK                                                UID
0     K00001  False  A0A059ZDV9\nA0A060I4I2\nA0A060I6P0\nA0A068SU50...
1     K00001   True  A0A022Q707\nA0A022R7F5\nA0A059A4S5\nA0A059A5P0...
2     K00002  False  A0A068MX60\nA0A068NTC6\nA0A075KEF9\nA0A0A7K9T5...
3     K00002   True  A0A010QE05\nA0A010QTJ0\nA0A010R751\nA0A010R7Y8...
4     K00003  False  A0A011UP94\nA0A023WVC4\nA0A023X1I2\nA0A024EAS9...
...      ...    ...                                                ...
4663  K26400   True  A0A010RUW7\nA0A010SGB5\nA0A024S4P0\nA0A0D1BWS5...
4664  K26731  False  A0A023X5G2\nA0A060DI73\nA0A068MZI2\nA0A068NNE6...
4665  K26731   True  A0A010RDL6\nA0A022PX43\nA0A022Q5Z1\nA0A022QJA3...
4666  K26735  False  A0A023X3B3\nA0A024EDC0\nA0A024HAJ5\nA0A024HHQ9...
4667  K26735   True  A0A022PZP8\nA0A022QCP7\nA0A022QRV0\nA0A024RE09...

[4668 rows x 3 columns]

In [8]:
kogids = list(accessions_outdf["KOGID"])
iseuks = list(accessions_outdf["ISEUK"])
uids = list(accessions_outdf["UID"])

In [12]:
with open("/data/luojaa/eukgen/mmseqs/ran/bothdomains.ids", "w") as outfile:
    for i in range(len(accessions_outdf)):
        uidchunk = uids[i]
        for uid in uidchunk.split("\n"):
            print(uid,file=outfile)

In [ ]:
for i in range(len(accessions_outdf)):
    kogid, iseuk, uid = kogids[i], iseuks[i], uids[i]
    os.system(f"mkdir /data/luojaa/eukgen/processing/microcosm_expand/{kogid}")
    if iseuk:
        outpath = f"{outpathroot}{kogid}/{kogid}.query.acc"
        with open(outpath, "w") as outfile:
            print(uid, file=outfile)
    else:
        outpath = f"{outpathroot}{kogid}/{kogid}.target.acc"
        with open(outpath, "w") as outfile:
            print(uid, file=outfile)

In [9]:
accessions_outdf

       KOGID  ISEUK                                                UID
0     K00001  False  A0A059ZDV9\nA0A060I4I2\nA0A060I6P0\nA0A068SU50...
1     K00001   True  A0A022Q707\nA0A022R7F5\nA0A059A4S5\nA0A059A5P0...
2     K00002  False  A0A068MX60\nA0A068NTC6\nA0A075KEF9\nA0A0A7K9T5...
3     K00002   True  A0A010QE05\nA0A010QTJ0\nA0A010R751\nA0A010R7Y8...
4     K00003  False  A0A011UP94\nA0A023WVC4\nA0A023X1I2\nA0A024EAS9...
...      ...    ...                                                ...
4663  K26400   True  A0A010RUW7\nA0A010SGB5\nA0A024S4P0\nA0A0D1BWS5...
4664  K26731  False  A0A023X5G2\nA0A060DI73\nA0A068MZI2\nA0A068NNE6...
4665  K26731   True  A0A010RDL6\nA0A022PX43\nA0A022Q5Z1\nA0A022QJA3...
4666  K26735  False  A0A023X3B3\nA0A024EDC0\nA0A024HAJ5\nA0A024HHQ9...
4667  K26735   True  A0A022PZP8\nA0A022QCP7\nA0A022QRV0\nA0A024RE09...

[4668 rows x 3 columns]